<nav class="navbar bg-light navbar-expand-lg">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Recipe Book</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item"><a class="nav-link" href="#">Recipes</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Shopping List</a></li>
      </ul>
      <span class="align-right">
        <ul class="nav navbar-nav navbar-right">
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" role="button"
              >Manage <span class="caret"></span
            ></a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Save</a></li>
              <li><a class="dropdown-item" href="#">Fetch</a></li>
            </ul>
          </li>
        </ul>
      </span>
    </div>
  </div>
</nav>
